/*
The following rule sets the padding and margin sizes for all elements and sides to zero and also forces the
browser to include padding and border in its width or height calculations for all boxes (margins are still
excluded from the calculation
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
The following rule is required to fix the height issues when using percentages and the browser is not
in quirks mode (ie: you have a valid doctype tag
*/
html,
body {
  height: 100%;
}

body {
  min-height: 100%;
}

header, footer {
  height: 20%;
  background-color: crimson;
  color: white;
  text-align:center;
  font-size:2em;
  padding-top: 1em;
  font-weight: bold;
}
footer {
  height: 10%;
  clear: both;
  background-color: bisque;
  color: black;
  font-size:1.5em;
  font-weight: normal;
  }

nav {
  height: 10%;
  background-color: cadetblue;
}
nav ul {padding:1em;float:left; width:100%; border: 1px solid yellow;}

nav ul li {width:32%; float:left; display:inline;
border:0px solid red; background:white; margin-right: 1%; padding:0.2em;}


img {width:10%;}
.imageHolderDiv img {
  width:100%;
  margin: 0 auto;
}
.imageHolderDiv{

  position: relative;
	border: 1px dotted red;
	width: 40%;
	margin: 1em auto;
  top: 10%;
  display:inline-block;
}
#imageHolderLeftDiv, #imageHolderRightDiv
{
	width:50%; height:100%;
	position:absolute; left:0px;z-index:-1; border:1px dotted red;
}
#imageHolderRightDiv {right:0px;}

#imgNberSpan {
  background-color: crimson;
  display: block;
  width: 8%;
  position: absolute;
  z-index: 100%;
}
section {
  background-color: orange;
  height: 60%;
  border: 1px solid black;
}

#imageSection1,
#imageSection2 {
  width: 50%;
  height:100%;
  float: left;
  background-color: lightblue;
  text-align: center;
}
section {position: relative;}
.controlButtonsDiv {width: 40%; border:1px solid red; position: absolute; left:30%; top: 0%;}
.controlButtonsDiv img {margin: 0 1em;}

 #animalImg2, #animalImg3, #animalImg4, #animalImg5,
#animalImg6, #animalImg7, #animalImg8{
    width: 100%;
    height: 100%;
    display: none;
}
#animalImg2{


}
